*{
    box-sizing: border-box;
}

.separator{
    clear: both;
}

.folder{   
    
    display: block;
    width: 95%;
    height: 70%;
    margin: 0% 10%;
}

.folder a{
    text-decoration: none; 
}

.folder .movie{
    float: left;
    background-color: rgb(49, 49, 49);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    width: 320px;
    
    height: 550px;
    margin: 20px;
}

.folder .movie img{
    width: 100%;
    border-radius: 10px;
}

.folder .movie-info{
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.folder .movie-info h3{
    margin: 0;
    margin-right: 5px;
}

.folder .movie-info p{
    background-color: rgb(141, 66, 66);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;

}