* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24,26,27);
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#Container {
    display: block;
    margin: 3%;
    width: 90%;
    height: 90%;
    border: 1px solid whitesmoke;
}

#Container p {
    margin-top: 3%;
    text-align: center;
    font-size: 2em;
}

#Container .Field {
    margin: auto;
    width: 90%;
    height: 15%;
    border: 1px solid whitesmoke;
}

#Container span {
    margin: 20% 3%;
    font-size: 1.2em;
}

#Container .Field .Input {
    float: right;
    margin: auto 10% auto 30%;
    font-size: 17px;
    border: none;
    width: 50%;
    height: 25%;
}

#Container button {
    width: 50%;
    height: 5%;
    margin: 1% 25%;
}

#Container a{
    
    color:whitesmoke;
}
#Container a p {
    font-size: 1.3em;
    text-align: center;
}