
#Viewer{
    overflow: hidden;

    width: 90%;
    margin: 2% 5%;
}

#Viewer .HorizontalLine{
    width: 100%;
    margin: 1rem 0rem;
    border-bottom: 1px solid black;
}

#Left
{
    width: 40%;
    float: left;
}

#Right
{
    width: 45%;
    margin: 5%;
    float: left;
}

#Right h2{
    font-size: 2.5em;
}

#Right p{

}

#Viewer img{
    border-radius: 5%;
    width: 75%;
}

#Viewer button{
    display: block;
    margin: 5% 0%;
    width: 40em;
    height: 3em;
}